.main {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 43, 47);
  overflow: hidden;
}

.outside {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50%;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.378);
}

.middle {
  width: 250px;
  height: 250px;
  border-radius: 50% 50%;
  background: linear-gradient(to bottom, #ff69b4, #8a2be2);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.378);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slice {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  clip-path: polygon(50% 50%, 100% 100%, 0% 100%);
  background-color: white;
  transform-origin: 50% 50%;
}

.indicator {
  width: 1.5px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  background: grey;
  transform-origin: 0 90px;
  transform: rotate(-60deg);
  transition: 1s;
}

span {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.big-temp {
  background-image: linear-gradient(to bottom, #ff69b4, #8a2be2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 60px;
  font-weight: 100;

  &.new-temp {
    display: none;
  }
}

.inside {
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50%;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.378);

  &:hover {
    .big-temp.old-temp {
      display: none;
    }
    .big-temp.new-temp {
      display: flex;
    }

    .indicator {
      transform-origin: -5px 70px;
      transform: rotate(-30deg);
    }
  }
}
