* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  width: 500px;
  height: 500px;
  background-color: rgb(49, 55, 83);
  position: absolute;
  cursor: pointer;
}

h1 {
  color: white;
  position: absolute;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateX(125px) translateY(220px);
  z-index: 0;
  /* filter: blur(5px); */
}

.cover {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: orange;
  opacity: 0.8;
  z-index: 1;
}
